@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@model IndexModel
@inject IStringLocalizer<IndexModel> stringLocalizer;
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;

@{
    ViewData["Title"] = stringLocalizer["PageTitle"];
}

<div class="text-center">
    <h1 class="display-4">@stringLocalizer["WelcomeText"]</h1>
    <p>@htmlLocalizer["HtmlContent"]</p>
</div>
